@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

h1 {
  font-family: "Philosopher", sans-serif;
}

main {
  font-family: "Mulish", sans-serif;
}

.carousel-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.display-none {
  display: none;
}
