@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Variables for colors */
:root {
  --mainblck: #0d0709;
  --rust: #bf3c30;
  --coral: #f2caa7;
}

/* Formatting for body */
body {
  margin: 0;
  background-color: var(--mainblck);
  color: var(--coral);
}

/* General formatting classes */
.alignment {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.display-none {
  display: none;
}

/* Typography */
.philospher {
  font-family: "Philosopher", sans-serif;
}

.mulish {
  font-family: "Mulish", sans-serif;
}

/* Styling for header */
.hero {
  margin: 0 auto;
  padding: 0;
  height: 20vh;
  background-image: url("img/hero-header.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid var(--rust);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for rendered products */
.products {
  display: flex;
  flex-direction: column;
}

.product-info {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--rust);
}

/* Styling for "image carousel" */
.carousel-img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  color: var(--rust);
  cursor: pointer;
  text-align: center;
}

.dots-span {
  margin: auto auto 0 auto;
  font-size: 30px;
}

/* Styling for buttons and input type submit */
.btn {
  width: 70px;
  color: var(--coral);
  background-color: var(--rust);
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  padding: 4px 8px;
  cursor: pointer;
}

/* Styling for item cart */
.cart {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 20px;
}

/* Styling for modal */
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: auto;
  background-color: var(--mainblck);
  border: 2px solid var(--rust);
  border-radius: 6px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #6e6e6eb3;
}

input {
  width: 200px;
}

.inputs {
  display: flex;
  flex-direction: column;
}
